<main class="content">
    <h1>Contenido</h1>
    <div class="themes-container-c">
        <div class="theme-c">
            <div class="head-theme">
                <div class="name-theme">
                    <h3>
                        Tema 01: Valores Máximos y Mínimos
                    </h3> 
                </div>
                <div class="sub-theme">
                    <h6>2</h6>
                    <p>Intentos</p>
                </div>
                <div class="sub-theme">
                    <h6>100%</h6>
                    <p>Progreso</p>
                </div>
                <div class="sub-theme">
                    <h6>100</h6>
                    <p>Puntaje</p>
                </div>
                <button class="toggle-btn"><i class="fa-solid fa-chevron-down"></i></button>
            </div>
            <div class="body-theme">
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="theme-c">
            <div class="head-theme">
                <div class="name-theme">
                    <h3>
                        Tema 01: Valores Máximos y Mínimos
                    </h3> 
                </div>
                <div class="sub-theme">
                    <h6>2</h6>
                    <p>Intentos</p>
                </div>
                <div class="sub-theme">
                    <h6>100%</h6>
                    <p>Progreso</p>
                </div>
                <div class="sub-theme">
                    <h6>100</h6>
                    <p>Puntaje</p>
                </div>
                <button class="toggle-btn"><i class="fa-solid fa-chevron-down"></i></button>
            </div>
            <div class="body-theme">
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
                <a href="" class="sub-body-content">
                    <div class="name-body">
                        Video 01
                    </div>
                    <div class="sub-body">
                        <h6>1</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100%</h6>
                    </div>
                    <div class="sub-body">
                        <h6>100</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>