<main class="content">
    <h1>Ejercicio 1.1</h1>
    <div class="content-resource">
        <div class="rs-container">    
            <div class="statement">
                <p>
                    Encuentre dónde \( f \) tiene máximo y mínimo absolutos. Halle los valores máximo y mínimo absolutos de \( f \).\[
        f(x) = \left( x^2 - 1 \right)^3, \quad x \in [-1, 2].
        \]
                </p>
            </div>
            <div class="step">
                <div class="step-statement">
                    <p>¿Cuál es la derivada de \( f(x) \)?s</p>
                </div>
                <div class="step-options">
                    <form action="">
                        <div class="option">
                            <input type="radio" name="answer" id="a" value="a">
                            <label for="a">\( f'(x) = 3 (2x)^2 \)</label>
                        </div>
                        
                        <div class="option">
                            <input type="radio" name="answer" id="b" value="b">
                            <label for="b">\( f'(x) = 3 \left( x^2 - 1 \right)^2 \)</label>
                        </div>
                        
                        <div class="option">
                            <input type="radio" name="answer" id="c" value="c">
                            <label for="c">\( f(0) = -1 \); \( f(-1) = 0 \); \( f(1) = 0 \quad \)</label>
                        </div>
                        <input type="submit" value="Enviar" class="submit-btn">
                    </form>
                </div>

            </div>
            <div class="feedback">
                <div class="feedback-statement wrong">
                    <p>
                        La respuesta correcta es:
                    </p>
                    <p>
                        \( h(x) = x^3 \), \( g(x) = x^2 - 1 \); \( f(x) = h(g(x)) \)

\[
f'(x) = h'(g(x)) \cdot g'(x) = 3 \left( x^2 - 1 \right)^2 \cdot 2x
\]
                    </p>
                    <p>Revisa el siguiente video</p>
                </div>

                <div class="feedback-statement correct">
                    <p>
                        ¡Correcto! La respuesta es
                    </p>
                    <p>
                        \( h(x) = x^3 \), \( g(x) = x^2 - 1 \); \( f(x) = h(g(x)) \)

\[
f'(x) = h'(g(x)) \cdot g'(x) = 3 \left( x^2 - 1 \right)^2 \cdot 2x
\]
                    </p>
                </div>

                <div class="feedback-video">
                    <video controls src="videos/pruebavideo.mov"></video>
                </div>
            </div>
            <button class="next-step">Siguiente</button>
        </div>
        {{>nav-rs}}
    </div>
</main>      