<main class="content">
    <div class="title-page">
        <h1>Bienvenido/a</h1>
    </div>
    <div class="themes-container">
        <div class="theme-card">
            <div class="i-container">
                <img src="/images/theme01.png" alt="">
            </div>
            <div class="description-theme">
                <h3>Tema 01:</h3>
                <p>Valores Máximos y Mínimos</p>
                <div class="progress-bar">
                    <p>Completado</p>
                    <div class="empty-bar">
                        <div class="full-bar"></div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="theme-card">
            <div class="i-container">
                <img src="/images/theme02.png" alt="">
            </div>
            <div class="description-theme">
                <h3>Tema 02:</h3>
                <p>Prueba de la Primera Derivada</p>
                <div class="progress-bar">
                    <p>Completado</p>
                    <div class="empty-bar">
                        <div class="full-bar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="theme-card">
            <div class="i-container">
                <img src="/images/theme03.png" alt="">
            </div>
            <div class="description-theme">
                <h3>Tema 03:</h3>
                <p>Prueba de Concavidad y Trazo de Curvas</p>
                <div class="progress-bar">
                    <p>Completado</p>
                    <div class="empty-bar">
                        <div class="full-bar"></div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="theme-card">
            <div class="i-container">
                <img src="/images/theme04.png" alt="">
            </div>
            <div class="description-theme">
                <h3>Tema 04:</h3>
                <p>Problemas de optimización</p>
                <div class="progress-bar">
                    <p>Completado</p>
                    <div class="empty-bar">
                        <div class="full-bar"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</main>