<main>
    <div class="login-img">
        <div class="green-opacity"></div>
    </div>
    <div class="login-container">
        <div class="login-content">
            <div class="login-title">
                <h2>Iniciar Sesión</h2>
            </div>
            
            <div class="login-form">
                <form action="/loginAuth" method="post">
                    {{#if error}}
                        <div class="error-container">
                            <p class="error-message">{{error}}</p>
                        </div>
                    {{/if}}
                    <label for="role">Selecciona tu Rol:</label>
                    <div class="role-buttons">
                        <button type="button" class="role-button active" id="student-button">
                            <i class="fa-solid fa-user-graduate"></i> <p>Estudiante </p>
                        </button>
                        <button type="button" class="role-button" id="teacher-button">
                            <i class="fa-solid fa-chalkboard-user"></i> <p>Docente</p>
                        </button>   
                    </div>

                    <!-- Campo oculto para almacenar el valor del rol -->
                    <input type="hidden" name="role" id="role" value="estudiante" required> <!-- valor predeterminado: estudiante -->

                    <label for="email">Correo</label>
                    <input type="email" name="email" id="email" class="input-login" required>

                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" class="input-login" required>

                    <input type="submit" value="Iniciar Sesión" class="btn-login">
                </form>              
            </div>
        </div>
    </div>
</main>