<main class="content">
    <h1>Cambiar Contrase単a</h1>
    <div class="password-container">
        {{#if error}}
            <div class="error-container">
                <p class="error-message">{{error}}</p>
            </div>
        {{/if}}
        {{#if success}}
            <p class="success">{{success}}</p>
        {{/if}}
        <form action="/mi-perfil/cambiar-contrasena" method="POST">
            <div class="form-item">
                <label for="actual-password">Contrase単a actual:</label>
                <input type="password" name="actual-password" id="actual-password" required>
            </div>
            <div class="form-item">
                <label for="new-password">Nueva contrase単a:</label>
                <input type="password" name="new-password" id="new-password" required>
            </div>
            <div class="form-item">
                <label for="confirm-password">Confirmar contrase単a:</label>
                <input type="password" name="confirm-password" id="confirm-password" required>
            </div>
            <div class="btn-container">
                <button type="button" class="secondary-btn" onclick="window.history.back()">Cancelar</button>
                <input type="submit" value="Guardar" class="primary-btn">
            </div>
        </form>
    </div>
</main>
