<main class="content">
    <h1>Video 01: Valores Máximos y Mínimos</h1>
    <div class="content-resource">
        <div class="rs-container">    
            <video class="video-theme" src="videos/pruebavideo.mov" controls></video>
        </div>
        {{>nav-rs}}
    </div>
</main>      