<main class="content">
    <h1>Video 01: Valores Máximos y Mínimos</h1>
    <div class="content-resource">
        <div class="rs-container">    
            <video class="video-theme" src="videos/pruebavideo.mov"></video>
        </div>
        <div class="navigation-theme-container">
            <div class="navigation-table">
                <div class="theme-title">
                    <h5>Tema 01: Valores Máximos y Mínimos</h5>
                </div>
                <div class="theme-resource-container">
                    <div class="theme-resource finished">
                        <button>Video01</button>
                    </div>
                    <div class="theme-resource active">
                        <button>Video01</button>
                    </div>
                    <div class="theme-resource">
                        <button>Video01</button>
                    </div>
                    <div class="theme-resource">
                        <button>Video01</button>
                    </div>
                </div>
                <div class="navigation-btn-container">
                    <button class="navigation-btn">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>      