<div class="menu" id="menu">    
    <div class="main-items">
        <div class="item">
        <button class="item-btn" id="menu-toggle">
            <i class="fa-regular fa-circle-right"></i>
        </button>
    </div>
        <div class="item">
            <button class="item-btn" onclick="window.location.href='/inicio-docente'">
                <i class="fa-solid fa-house"></i>
             <p class="menu-text">
                Inicio
             </p>
            </button> 
        </div>
        <div class="item">
            <button class="item-btn">
                <i class="fa-solid fa-users"></i>
            <p class="menu-text">
                Estudiantes
            </p>
            </button>  
        </div>

        <div class="item">
            <button class="item-btn" onclick="window.location.href='/mi-perfil-docente'">
                <i class="fa-solid fa-circle-user"></i>
                <p class="menu-text">Mi perfil</p>
            </button>
        </div>
    </div>
    <div class="last-item">
        <div class="item">
        <button class="item-btn">
            <i class="fa-regular fa-circle-question"></i>
            <p class="menu-text">Ayuda</p>
        </button>
    </div>
    </div>
    
</div>