<div class="navigation-theme-container">
            <div class="navigation-table">
                <div class="theme-title">
                    <h5>Tema 01: Valores Máximos y Mínimos</h5>
                </div>
                <div class="theme-resource-container">
                    <div class="theme-resource active">
                        <button>Video 01</button>
                    </div>
                    <div class="theme-resource">
                        <button>Ejercicio 1</button>
                    </div>
                    <div class="theme-resource">
                        <button>Ejercicio 2</button>
                    </div>
                    <div class="theme-resource">
                        <button>Desafío 1</button>
                    </div>
                </div>
                <div class="navigation-btn-container">
                    <button class="navigation-btn">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>