<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | CALCU WEB</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/248f1a377a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main_styles.css">
    <link rel="stylesheet" href="/css/login_styles.css">
</head>
<body>
    {{{body}}}
</body>

<script>
    const studentButton = document.getElementById('student-button');
    const teacherButton = document.getElementById('teacher-button');
    const roleInput = document.getElementById('role');

    // Cambiar el valor del campo oculto según el botón que el usuario seleccione
    studentButton.addEventListener('click', () => {
        roleInput.value = 'estudiante';
        studentButton.classList.add('active');
        teacherButton.classList.remove('active');
    });

    teacherButton.addEventListener('click', () => {
        roleInput.value = 'docente';
        teacherButton.classList.add('active');
        studentButton.classList.remove('active');
    });
</script>

</html>