<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/248f1a377a.js" crossorigin="anonymous"></script>

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <link rel="stylesheet" href="/css/main_styles.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/resource.css">
        
    <title>{{title}} | CALCU WEB</title>
</head>
<body>
    {{>menu-E}}
    {{{body}}}
</body>
<script>
    const menu = document.getElementById('menu');
    const toggleButton = document.getElementById('menu-toggle');

    toggleButton.addEventListener('click', () => {
        menu.classList.toggle('expanded');
    });
</script>

<script>
    document.querySelectorAll('.theme-c .toggle-btn').forEach(button => {
    button.addEventListener('click', function() {
        const themeCard = this.closest('.theme-c');
        themeCard.classList.toggle('active');
        const icon = this.querySelector('i');
        icon.classList.toggle('fa-chevron-down');
        icon.classList.toggle('fa-chevron-up');
    });
});
</script>

<script>
    window.onload = function() {
    const currentURL = window.location.href;
    const submitButton = document.querySelector('.submit-btn');
    const nextButton = document.querySelector('.next-step');

    // Si la URL contiene '/respuesta', deshabilitar el botón
    if (currentURL.includes('/respuesta')) {
        if (submitButton) {
            submitButton.style.display = 'none'; // O deshabilitarlo, como prefieras
        }
    }
    else {
            if (nextButton) {
                nextButton.style.display = 'none'; // Oculta el botón
            }
        }
};

</script>

</html>